<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EllePlusTry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09DDDE0F1DBDA43B0061C981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09DDDE281DBDA43B0061C981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09DDDE331DBDA43B0061C981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
